[submodule "gdelta"]
	path = gdelta
	url = https://github.com/apple-ouyang/gdelta.git
[submodule "edelta"]
	path = edelta
	url = https://github.com/apple-ouyang/edelta.git
[submodule "xdelta"]
	path = xdelta
	url = https://github.com/apple-ouyang/xdelta.git
[submodule "gdelta_origianl"]
	path = gdelta_original
	url = https://github.com/apple-ouyang/gdelta.git
	branch = original_gdelta
[submodule "gdelta_init"]
	path = gdelta_init
	url = https://github.com/apple-ouyang/gdelta.git
	branch = gdelta_init
